/* =========================================================
   PAGE TITLE
========================================================= */

.page-title h1{

    font-size:32px;

}


.page-title p{

    margin-top:8px;

    color:#666;

}